html {
	background-color: #222;
  font-family: 'Rajdhani', sans-serif;
	font-size: 4vh; /*180%;*/
	color: #fff;
}

tr, td {
  border: 1px solid #cccccc;
}
table {
	height: 98vh;
	width: 98vw;
	text-align: center;
}
#white {
	color: white;
}
