* {
  color: #c981cc;
}
tr, td {
  border: 1px solid #c981cc;
}
input {
	background-color: transparent;
}
.res {
  font-size: 60%;
}
input {
  width: 40%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}