* {
  text-align: center;
  font-size: 100%;
  font-family: 'Rajdhani', sans-serif;
}
body {
	background-color: #222;
}

#cth {
	color: #cccccc;
}
#c2r {
  color: #81ccc4;
}
#c2c {
  color: #ccc481;
}
#im {
	color: #81afcc;
}
#ctv {
	color: #c981cc;
}
#title {
  font-size: 150%;
}
table {
  /*width: 30vw;*/
  border-collapse: separate;
  border-spacing: 0;
}
table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
button {
	background-color: transparent;
  width: 50%;
  height: 80%;
  font-size: 100%;
}
#output {
  font-size: 110%;
}


details {
  font-size: 90%;
}
summary {
  text-align: left;
}
#more {
	text-align: left;
}