* {
  text-align: center;
  font-size: 100%;
}
.title {
  font-size: 110%;
}
textarea {
  width: 80vw;
  height: 30vh;
}
details {
  font-size: 70%;
}
summary {
  text-align: left;
}
#log {
  text-align: left;
}