* {
  text-align: center;
  font-size: 100%;
  font-family: 'Nunito', sans-serif;
}
.res {
  font-size: 60%;
}
input {
  width: 40%;
}
details {
  font-size: 70%;
}
summary {
  text-align: left;
}
#log {
  text-align: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}