* {
  text-align: center;
  font-size: 100%;
  color: #ccc481;
  font-family: 'Nunito', sans-serif;
}
body {
	background-color: #222;
}

#c2r {
  color: #81ccc4;
}
#title {
  font-size: 150%;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
tr, td {
  border: 1px solid #ccc481;
}
table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
button {
  width: 50%;
  height: 80%;
  font-size: 100%;
}
#output {
  font-size: 110%;
}
.res {
  font-size: 60%;
}
input {
  width: 40%;
}
details {
  font-size: 70%;
}
summary {
  text-align: left;
}
#log {
  text-align: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


details {
  font-size: 70%;
}
summary {
  text-align: left;
  font-size: 70%;
}
#log {
  text-align: left;
  font-size: 70%;
}
#ver {
  font-size: 70%;
}